<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.cyruscvc.docscanner"
        version="1.0.0">

    <name>MLKitDocScanner</name>

    <description>Cordova plugin for document scanning using ML Kit.</description>
    <license>Apache 2.0</license>
    <keywords>cordova, document, scanner, mlkit</keywords>

    <js-module src="www/MLKitDocScanner.js" name="MLKitDocScanner">
        <clobbers target="MLKitDocScanner" />
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
            </provider>
        </config-file>
        
        <config-file target="src/main/res/xml/file_paths.xml" parent="paths">
            <files-path name="external_files" path="." />
        </config-file>
        
        <dependency id="com.google.android.gms:play-services-mlkit-document-scanner" version="16.0.0-beta1" />

        <source-file src="src/android/MLKitDocScanner.java" target-dir="src/com/cyruscvc/docscanner" />
    </platform>
</plugin>
